<div class="card">
    <div class="col-12">
        <p-toast key="global-toast"></p-toast>
        <h5>Tworzenie czynnika aktywnego</h5>
        <form [formGroup]="activeSubstanceForm" (ngSubmit)="onSubmit()">
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="nameOfActiveSubstance" class="p-sr-only">Firstname</label>
                    <input pInputText formControlName="name" id="nameOfActiveSubstance" type="text" placeholder="Nazwa subtancji" />
                </div>
                <div class="field">
                    <label htmlFor="dosage" class="p-sr-only">Lastname</label>
                    <input pInputText formControlName="dosage" id="dosage" type="text" placeholder="Dawkowanie" />
                </div>
                <div class="field">
                    <label htmlFor="description" class="p-sr-only">Informacje dodatkowe</label>
                    <input pInputText formControlName="description" id="description" type="text" placeholder="Opis" />
                </div>
                <div class="field" style="margin-top:10px;">
                    <div class="field-checkbox">
                        <p-checkbox formControlName="pregnance" binary="true" inputId="pregnancyCheck" id="pregnancy"></p-checkbox>
                        <label for="pregnancy">Dozw. w ciąży</label>
                    </div>
                </div>
                <button pButton type="submit" [disabled]="activeSubstanceForm.invalid">Dodaj</button>
            </div>
        </form>

        <app-activesubstances-table></app-activesubstances-table>
    </div>
</div>
