<div class="card">
    <div class="col-12">
        <p-toast key="global-toast"></p-toast>
        <h5>Wyszukaj substancje czynne dla choroby</h5>
        <form [formGroup]="diseasesForm" (ngSubmit)="onSubmit()">
            <div class="formgroup-inline">
                <div class="field">
                    <p-dropdown [options]="diseaseModel"
                                   formControlName="chooseSubstance"
                                   placeholder="Choroba"
                                   optionLabel="name"
                                   display="chip"
                                   [showClear]="true">
                        <ng-template let-diseases pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{ diseases.name }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <p-multiSelect [options]="diseaseModel"
                                   formControlName="selectedSubstancesDiseases"
                                   placeholder="Choroby współistniejące"
                                   optionLabel="name"
                                   display="chip">
                        <ng-template let-diseases pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{ diseases.name }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field">
                    <p-multiSelect [options]="activeSubstances"
                                   formControlName="selectUsedActiveSubstances"
                                   placeholder="Używane substancje czynne"
                                   optionLabel="name"
                                   display="chip">
                        <ng-template let-actSub pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{ actSub.name }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field" style="margin-top:10px;">
                    <div class="field-checkbox">
                        <p-checkbox formControlName="pregnance" binary="true" inputId="pregnancyCheck" id="pregnancy"></p-checkbox>
                        <label for="pregnancy">Czy jest w ciąży?</label>
                    </div>
                </div>


                <button pButton type="submit" [disabled]="diseasesForm.invalid">Szukaj</button>
            </div>
        </form>
    </div>

    <p-table [value]="searchEngineModel">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:50%;">Choroba</th>
                <th style="width:50%;">Odfiltrowane substancje czynne</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{ rowData.disease.name }}</td>
                <td>
                    <table *ngFor="let substance of rowData.activeSubstances" style="width: 100%;">
                        <tr>
                            <td>{{ substance.name }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
