<div class="card">
    <div class="col-12">
        <p-toast key="global-toast"></p-toast>
        <h5>Tworzenie nowego pacjenta</h5>
        <form [formGroup]="newPatient" (ngSubmit)="onSubmit()">
            <div class="formgroup-inline">
                <div class="field">
                    <label htmlFor="name" class="p-sr-only">Imie</label>
                    <input pInputText formControlName="name" id="name" type="text" placeholder="Imie" />
                </div>
                <div class="field">
                    <label htmlFor="surname" class="p-sr-only">Nazwisko</label>
                    <input pInputText formControlName="surname" id="surname" type="text" placeholder="Nazwisko" />
                </div>
                <div class="field">
                    <label htmlFor="uniqueId" class="p-sr-only">Pesel</label>
                    <input pInputText formControlName="uniqueId" id="uniqueId" type="text" placeholder="Pesel" />
                </div>
                <div class="field">
                    <label htmlFor="age" class="p-sr-only">Wiek</label>
                    <input pInputText formControlName="age" id="age" type="number" placeholder="Wiek" />
                </div>
<!--                <div class="field">-->
<!--                    <label htmlFor="gender" class="p-sr-only">Płeć</label>-->
<!--                    <input pInputText formControlName="gender" id="gender" type="text" placeholder="Płeć" />-->
<!--                </div>-->
                <div class="field">
                    <label htmlFor="gender" class="p-sr-only">Płeć</label>
                    <p-dropdown [options]="genderOptions"
                                id="gender"
                                formControlName="gender"
                                placeholder="Wybierz płeć"
                                [showClear]="true"></p-dropdown>

                </div>




                <button pButton type="submit" [disabled]="newPatient.invalid">Dodaj</button>
            </div>
        </form>

        <h5>Lista pacjentów (nie zahashowane)</h5>
        <p-table #dt1 [value]="patientModels" dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Id
                            <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Imie
                            <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Nazwisko
                            <p-columnFilter type="text" field="dosage" display="menu" placeholder="Search by dosage"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Pesel
                            <p-columnFilter type="text" field="description" display="menu" placeholder="Search by description"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Wiek
                            <p-columnFilter type="text" field="pregnance" display="menu" placeholder="Search by pregnancy status"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Płeć
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Lekarz
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-patients>
                <tr>
                    <td>{{ patients.id }}</td>
                    <td>{{ patients.name }}</td>
                    <td>{{ patients.surname }}</td>
                    <td>{{ patients.uniqueId }}</td>
                    <td>{{ patients.age }}</td>
                    <td>{{ patients.gender }}</td>
                    <td>{{ patients.userDTO.username }}</td>
                    <td><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"
                                (click)="confirmDelete(patients.id)">
                    </button></td>
                </tr>
            </ng-template>


            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
        <p-confirmDialog></p-confirmDialog>

    </div>
</div>
