<div class="card">
    <div class="col-12">
        <p-toast key="global-toast"></p-toast>
        <h5>Tworzenie choroby</h5>
        <form [formGroup]="diseasesForm" (ngSubmit)="onSubmit()">
            <div class="formgroup-inline">
<!--                <p-dropdown [options]="activeSubstances" [(ngModel)]="selectedDrop" placeholder="Select a City" [showClear]="true"></p-dropdown>-->
                <div class="field">
                    <p-dropdown [options]="activeSubstances"
                                formControlName="chooseSubstance"
                                optionLabel="name"
                                placeholder="Select a Substance"
                                [showClear]="true"></p-dropdown>
                </div>
                <div class="field">
                    <p-multiSelect [options]="activeSubstances"
                                   formControlName="selectedSubstances"
                                   placeholder="Wybierz substancje aktywne"
                                   optionLabel="name"
                                   display="chip">
                        <ng-template let-activeSub pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{ activeSub.name }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <button pButton type="submit" [disabled]="diseasesForm.invalid">Dodaj substancję</button>
            </div>
        </form>
    </div>

    <div class="col-12">
        <h5>Lista chorób i powiązanych substancji aktywnych</h5>
        <p-table #dt2 [value]="substanceConflicts" dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name', 'description', 'activeSubstancesDTOList.name']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt2)"></button>
                    <span class="p-input-icon-left mb-2">
                <i class="pi pi-search"></i>
                <input pInputText type="text" #filter (input)="onGlobalFilter(dt2, $event)" placeholder="Search Keyword" class="w-full"/>
            </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 33%;">
                        Disease Name
                        <p-columnFilter type="text" field="name" display="menu" placeholder="Search by disease name"></p-columnFilter>
                    </th>
                    <th style="width: 33%;">
                        Description
                        <p-columnFilter type="text" field="description" display="menu" placeholder="Search by description"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-substanceConflict>
                <tr>
                    <td>{{ substanceConflict.activesubstanceDTO.name }}</td>
                    <td>{{ substanceConflict.activesubstanceDTO2.name }}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="3">Nie odnaleziono żadnych konfliktów</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="3">Trwa ładowanie danych</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
